@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

:root {
    --ocean-blue: rgb(30,152,188);
    --sand-yellow: rgb(241,218,165);
    --burgundy-wine: rgb(86,37,58);
    --olive-green: rgb(122,103,49);
    --cloudy-grey: rgb(155,182,189);
    --turquoise-sea: rgb(70,225,232);
    --stormy-sky: rgb(59,91,114);
    --golden-sun: rgb(221,160,57);
    --terra-cotta: rgb(206,98,67);
}

body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    text-align: center;
    background-color: var(--cloudy-grey);
    -webkit-text-stroke-width: thin;
    -webkit-text-stroke-color: white;
}


.top-nav {
    display: flex;
    height: 30px;
    gap: 30px;
    color: #cccccc;
    overflow: hidden;
    padding-left: 20px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding-bottom: 10px;
    font-size: 18px;
    padding-top: 12px;
    background: linear-gradient(to bottom, var(--sand-yellow), var(--burgundy-wine));
}

.top-nav a:hover {
    color: #a59c9f;
}

.nav-link {
    margin-top: 8px;
}

.admin-subhead {
    margin-left: 30px;
    margin-bottom: 30px;
}

#options-ctr {
    color:var(--sand-yellow);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    margin: auto;
    margin-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    height: fit-content;
    width: fit-content;
    text-align: left;
    background-color: var(--burgundy-wine);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-color: #BA0C2F;
}

a.options {
    display: block;
    color:var(--sand-yellow);
    padding: 16px;
    text-decoration: none;
}

a:hover {
    background-color: #a59c9f;
    color: white;

}

 a:hover:not(.active) {
    background-color: #a59c9f;
    color: white;
 }

