@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

:root {
    --ocean-blue: rgb(30,152,188);
    --sand-yellow: rgb(241,218,165);
    --burgundy-wine: rgb(86,37,58);
    --olive-green: rgb(122,103,49);
    --cloudy-grey: rgb(155,182,189);
    --turquoise-sea: rgb(70,225,232);
    --stormy-sky: rgb(59,91,114);
    --golden-sun: rgb(221,160,57);
    --terra-cotta: rgb(206,98,67);
}

body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    text-align: center;
    background-color: var(--cloudy-grey);
    width: 100%;
    overflow: scroll;
    color: var(--sand-yellow);
}

.top-nav {
    display: flex;
    height: 30px;
    gap: 30px;
    color: #cccccc;
    padding-left: 20px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding-bottom: 10px;
    font-size: 18px;
    padding-top: 12px;
    background: linear-gradient(to bottom, var(--sand-yellow), var(--burgundy-wine));
}

.top-nav a:hover {
    color: #a59c9f;
}

.nav-link {
    margin-top: 8px;
    color: var(--turquoise-sea);
}
.logout-button {
    margin-top: 8px;
    border-radius: 5px;
    background-color: var(--turquoise-sea);
    color: #ffffff;
    width:fit-content;
}
.logout-button:hover{
    background-color: #a59c9f;
}

table, th, td {
    border: 1px solid black;
    border-radius: 3px;
}



.page-ctr {
    margin: auto;
    margin-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 20px;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-color: #BA0C2F;
}
#schedule-table-ctr {
    overflow: scroll;
    margin-top: 20px;
    display: flex;
    justify-content: flex-start;


}

.synopsis {
height: 100px;
    width: 200px;
    float: left;
    overflow: scroll;
}
.reviews-content {
    height: 100px;
    width: 150px;
    float: right;
    text-align: center;
    vertical-align: center;
    overflow-wrap: break-word;
    overflow: scroll;
}
.video-content {
    height: 100px;
    width: 200px;
    overflow: scroll;
}


#promo-card {
    padding-top: 10px;
    padding-bottom: 30px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

#promo-header {
    margin-bottom: 30px;
    text-align: center;
}
.edit-dates-button {
    margin-top: 8px;
    border-radius: 5px;
    background-color: var(--golden-sun);
    color: #ffffff;
    width:fit-content;
}
.edit-dates-button:hover{
    background-color: var(--terra-cotta);
}