body {
    margin: 0px;
}

.top-nav {
    display: flex;
    background-color: #170f11;
    height: 30px;
    gap: 30px;
    color: #cccccc;
    overflow: hidden;
    padding-left: 20px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding-bottom: 10px;
    font-size: 18px;
}

.top-nav a:hover {
    color: #a59c9f;
}

.nav-link {
    margin-top: 8px;
}

#manage-users-header {
    text-align: center;
}

#users-table-ctr {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

table, th, td {
    border: 1px solid black;
    border-radius: 3px;
}

.username {

}

.user-account-status {

}
