:root {
    --ocean-blue: rgb(30,152,188);
    --sand-yellow: rgb(241,218,165);
    --burgundy-wine: rgb(86,37,58);
    --olive-green: rgb(122,103,49);
    --cloudy-grey: rgb(155,182,189);
    --turquoise-sea: rgb(70,225,232);
    --stormy-sky: rgb(59,91,114);
    --golden-sun: rgb(221,160,57);
    --terra-cotta: rgb(206,98,67);
}

body {
margin: 0;
    background-color: var(--sand-yellow);
}

.top-nav {
    display: flex;
    height: 30px;
    gap: 30px;
    color: #cccccc;
    overflow: hidden;
    padding-left: 20px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding-bottom: 10px;
    font-size: 18px;
    background: linear-gradient(to bottom, #170f11, #BA0C2F);
}

.top-nav a:hover {
    color: #a59c9f;
}

.nav-link {
    margin-top: 8px;
}

table, th, td {
    border: 1px solid black;
    border-radius: 3px;
    border-color: #170f11;
}

.promo-id {
    width: 100px;
}

.promo-code {
    width: 200px;
}

.promo-discount {
    width: 150px;
}

.promo-notes {
    width: 500px;
}

#promo-table-ctr {
    margin-top: 20px;
    display: flex;
    justify-content: center;

}

#promo-card {
    margin: auto;
    margin-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    height: fit-content;
    width: fit-content;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-color: #BA0C2F;
}

#promo-header {
    margin-bottom: 30px;
    text-align: center;
}

#promo-btn-ctr {
    margin-top: 10px;
    text-align: center;
}

.promo-btn {
    width: 150px;
    height: 30px;
    border-radius: 5px;
}