body {
    margin: 0px;
}

.top-nav {
    display: flex;
    height: 30px;
    gap: 30px;
    color: #cccccc;
    overflow: hidden;
    padding-left: 20px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding-bottom: 10px;
    font-size: 18px;
    background: linear-gradient(to bottom, #170f11, #BA0C2F);
}

.top-nav a:hover {
    color: #a59c9f;
}

.nav-link {
    margin-top: 8px;
    color: var(--turquoise-sea);
}
.logout-button {
    margin-top: 8px;
    border-radius: 5px;
    background-color: var(--turquoise-sea);
    color: #ffffff;
    width:fit-content;
}
.logout-button:hover{
    background-color: #a59c9f;
}

table, th, td {
    border: 1px solid black;
    border-radius: 3px;
}

.movie-id {
    width: 80px;
}

.schedule-movie-title {
    width: 400px;
}

.show-times {
    width: 500px;
}

#schedule-table-ctr {
    margin-top: 20px;
    display: flex;
    justify-content: center;

}

#promo-card {
    margin: auto;
    margin-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    height: fit-content;
    width: fit-content;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-color: #BA0C2F;
}

#promo-header {
    margin-bottom: 30px;
    text-align: center;
}

