body {
    font-family: Arial, sans-serif;
    margin: 0;
}
.container {
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 400px;
    overflow: auto;
    border: 1px solid #fff;
    height: 90%;
}

.page-ctr {
    margin: auto;
    margin-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    height: fit-content;
    width: fit-content;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-color: #BA0C2F;
}

.top-nav {
    display: flex;
    height: 30px;
    gap: 30px;
    color: #cccccc;
    overflow: hidden;
    padding-left: 20px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding-bottom: 10px;
    font-size: 18px;
    background: linear-gradient(to bottom, #170f11, #BA0C2F);
}

.top-nav a:hover {
    color: #a59c9f;
}

.nav-link {
    margin-top: 8px;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}
input[type="email"],
input[type="tel"],
input[type="text"],
input[type="address"],
input[type="password"],
input[type="submit"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
input[type="submit"] {
    color: #fff;
    cursor: pointer;
}
input[type="submit"]:hover {
    background-color: #fd0202;
}
.signup-link {
    text-align: center;
}
.signup-link a {
    color: #fff;
    text-decoration: none;
}

.creditcard-button-container {
    display: flex;
    align-items: center;
}
.creditcard-button-container button {
    width: 25%;
    height: 100%;
    padding: 10px;
    margin-bottom: 15px;
    background-color: #fd0202;
    color: #fff;
    border: 1px;
    border-radius: 4px;
    cursor: pointer;
}

.creditcard-button-container button:hover {
    background-color: #d6d6d6;
}
