body {
    margin: 0px;
}

.top-nav {
    display: flex;
    height: 30px;
    gap: 30px;
    color: #cccccc;
    overflow: hidden;
    padding-left: 20px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding-bottom: 10px;
    font-size: 18px;
    background: linear-gradient(to bottom, #170f11, #BA0C2F);
}

.top-nav a:hover {
    color: #a59c9f;
}

.nav-link {
    margin-top: 8px;
}

.scheduling-card {
    margin: auto;
    margin-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    height: fit-content;
    width: fit-content;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-color: #BA0C2F;
}

#date-time-picker-label {
    font-weight: bold;
}

table, th, td {
    border: 1px solid black;
    border-radius: 3px;
}

.movie-id {
    width: 80px;
}

.schedule-movie-title {
    width: 400px;
}

.show-times {
    width: 500px;
}

.schedule-table-ctr {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

table, th, td {
    border: 1px solid black;
    border-radius: 3px;
}

.schedule-movie-title {
    width: 400px;
}

.show-times {
    width: 500px;
}

#date-time-picker-button {
    font-weight: bold;
    border-width: 2px;
    border-radius: 3px;
}

#date-time-picker {
    border-width: 2px;
    border-radius: 3px;
}
