body {
    font-family: Arial, sans-serif;
    margin: 0;
    text-align: center;
}

.top-nav {
    display: flex;
    background-color: #170f11;
    height: 30px;
    gap: 30px;
    color: #cccccc;
    overflow: hidden;
    padding-left: 20px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding-bottom: 10px;
    font-size: 18px;
    background: linear-gradient(to bottom, #170f11, #BA0C2F);
}

.top-nav a:hover {
    color: #a59c9f;
}

.nav-link {
    margin-top: 8px;
}

#main-header {
    margin-left: 30px;
}

.admin-subhead {
    margin-left: 30px;
    margin-bottom: 30px;
}

#options-ctr {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    margin: auto;
    margin-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    height: fit-content;
    width: fit-content;
    text-align: left;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-color: #BA0C2F;
}