@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

:root {
    --ocean-blue: rgb(30,152,188);
    --sand-yellow: rgb(241,218,165);
    --burgundy-wine: rgb(86,37,58);
    --olive-green: rgb(122,103,49);
    --cloudy-grey: rgb(155,182,189);
    --turquoise-sea: rgb(70,225,232);
    --stormy-sky: rgb(59,91,114);
    --golden-sun: rgb(221,160,57);
    --terra-cotta: rgb(206,98,67);
}

body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    background-color: var(--cloudy-grey);
}

.top-nav {
    display: flex;
    height: 30px;
    gap: 30px;
    color: #cccccc;
    overflow: hidden;
    padding-left: 20px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding-bottom: 10px;
    font-size: 18px;
    padding-top: 12px;
    background: linear-gradient(to bottom, var(--sand-yellow), var(--burgundy-wine));
}

.top-nav a:hover {
    color: #a59c9f;
}

.nav-link {
    margin-top: 8px;
    color: var(--turquoise-sea);
}

.logout-button {
    margin-top: 8px;
    border-radius: 5px;
    background-color: var(--turquoise-sea);
    color: #ffffff;
    width:fit-content;
}
.logout-button:hover{
    background-color: #a59c9f;
}
.headerheader{
    color: var(--burgundy-wine);
}
#form-title {
    margin-bottom: 15px;
}
#category {
    margin-bottom: 15px;
}
#child-ticket {
    margin-bottom: 15px;
}
#adult-ticket {
    margin-bottom: 15px;
}
#senior-ticket {
    margin-bottom: 15px;
}
#form-cast {
    margin-bottom: 15px;
}

#form-director {
    margin-bottom: 15px;
}

#form-producer {
    margin-bottom: 15px;
}

#form-rating {
    margin-bottom: 15px;
}

#form-reviews {
    margin-bottom: 15px;
}

#form-synop {
    margin-bottom: 15px;
}

#form-trailer-photo {
    margin-bottom: 15px;
}

#form-trailer-video {
    margin-bottom: 15px;
}

.form {
    display: table;
    font-weight: bold;
    margin: auto;
}

label {
    display: table-cell;
    color: var(--burgundy-wine);
}

input {
    display: table-cell;
    width: 600px;
    border-width: 2px;
    border-radius: 5px;
    border-color: var(--burgundy-wine);
}

textarea {
    width: 600px;
    border-width: 2px;
    border-radius: 5px;
    border-color: var(--burgundy-wine);
}

#form-synop-input {
    height: 200px;
}

#form-cast-input {
    height: 50px;
}

#create-form-ctr {
    margin: auto;
    margin-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    height: fit-content;
    width: fit-content;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    background-color: var(--sand-yellow);
}

#form-submit-button {
    margin-bottom: 20px;
    width: 150px;
    height: 40px;
    font-size: 16px;
    border-width: 2px;
    border-radius: 5px;
    border-color: var(--burgundy-wine);
    background-color: var(--golden-sun);
    color: var(--burgundy-wine);
    font-family: 'Montserrat', sans-serif, bold;
}

#form-submit-button:hover{
    background-color: var(--terra-cotta);
}
#form-category-input {
    display: flex;
    flex-direction: row;
}
/* dropdown button */
.drop{
    width: 15em;
    height: 2em;
    line-height: 3;
    overflow: hidden;
    border-width: 2px;
    border-radius: 5px;
    border-color: var(--burgundy-wine);
    padding-bottom: 10px;
    font-family: 'Montserrat', sans-serif;
    color: var(--burgundy-wine);
}