@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

:root {
    --ocean-blue: rgb(30,152,188);
    --sand-yellow: rgb(241,218,165);
    --burgundy-wine: rgb(86,37,58);
    --olive-green: rgb(122,103,49);
    --cloudy-grey: rgb(155,182,189);
    --turquoise-sea: rgb(70,225,232);
    --stormy-sky: rgb(59,91,114);
    --golden-sun: rgb(221,160,57);
    --terra-cotta: rgb(206,98,67);
}

html {
    height: 100%;
}

body {
    min-height: 100%;
    position: relative;
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    background-color: var(--sand-yellow);
    background-image: url('/css/images/Background1.webp');
    background-attachment: fixed;
    background-position: center;

}

.top-nav {
    display: flex;
    height: 40px;
    gap: 30px;
    color: #cccccc;
    overflow: hidden;
    padding-left: 20px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding-bottom: 10px;
    font-size: 18px;
    padding-top: 12px;
    background: linear-gradient(to bottom, var(--sand-yellow), var(--burgundy-wine));
}

.top-nav a:hover {
    color: #a59c9f;
}

.nav-link {
    margin-top: 8px;
    color: var(--turquoise-sea);
}

.search-ctr {
    margin-top: 8px;
    font-size: 18px;
}

#search-label {
    margin-right: 8px;
    color: var(--turquoise-sea);
}

#search-box {
    width: 200px;
    border-radius: 8px;
}

.movie-title {
    font-size: 24px;
    font-weight: bold;
    margin: auto;
    padding-bottom: 5px;
    font-family: Didot, Arial, sans-serif;
}

.details-link-ctr {
    position: relative;
    text-align: center;
    height: 150px;
    overflow-y: scroll;
    width: 576px;
}

.details-link {
    font-weight: bold;
    position: absolute;
    top: 20%;
    /*    transform: translate(-50%, -50%);*/
}

.book-tickets-btn-ctr {
    text-align: center;
    bottom: 0;
}

.book-tickets-btn {
    width: 130px;
    height: 50px;
    border-radius: 5px;
    font-size: 24px;
    box-shadow: rgba(0, 0, 0, 0.25) 0 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    font-weight: bold;
    border-width: 2px;
    border-color: #000000;
    color: #000000;
    background-color: var(--sand-yellow);
    bottom: 0;
}

.trailer-video {
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.now-showing-header {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    background-image: url('/css/images/Background2.webp');
    background-attachment: fixed;
    background-position: center;

}

#search-button {
    border-radius: 5px;
    background-color: var(--turquoise-sea);
    color: #ffffff;
}

.logout-button {
    margin-top: 8px;
    border-radius: 5px;
    background-color: var(--turquoise-sea);
    color: #ffffff;
}
.results-header {
    margin-left: 20px;
}

.rating-text {
    font-weight: bold;
    position: absolute;
    right: 0;
    margin-right: 20px;
    margin-top: 20px;
}
.header {
    display: flex;
    justify-content: center;
    position: relative;
}


.movie-overview {
    display: flex;
    gap: 20px;
    padding: 10px;
    margin: 20px auto;
    overflow-x: auto;
    height: 100%;
    position: relative;
}

.movie-ctr, .now-showing, .coming-soon {
    min-height: 160px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    padding: 2px;
    border-radius: 5px;
    background-color: var(--cloudy-grey);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    transition: all .7s ease;
    flex: 1;
    z-index: 1; /* Start with a normal stacking order */
    min-width: 576px;
}

.movie-ctr:hover {
    z-index: 999; /* Bring to the top on hover */
    overflow: visible; /* Allow the iframe to overflow its container */
    flex: 1.4;
}

.movie-ctr > iframe {
    transition: transform 1s ease;
    transform: scale(0.9);
    object-fit: cover;
}

.movie-ctr:hover > iframe {
    transform: scale(0.96);
    overflow: visible !important;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5); /* Shadow effect */
}

/* When the parent container is hovered, make all children slightly translucent */
.movie-overview:hover .movie-ctr {
    opacity: 0.75; /* Adjust as necessary to get the desired level of translucency */
}

/* But, when a specific .movie-ctr is hovered, make it fully opaque */
.movie-overview .movie-ctr:hover {
    opacity: 1;
}

.site-footer {
    text-align: center;
    flex: auto;
    justify-content: center;
    position: absolute;
    width: 100%;
    bottom: 0;
}

.footer-content {
    background-image: radial-gradient(#CBE1EB, #5DA9C2);
    padding: 20px 20px;
    box-shadow: 0 20px 30px rgba(0,0,0,.3);

}

.copyright {
    margin-bottom: 0;
}

#ns-filter-ctr {
    margin-top: 8px;
}

#cs-filter-ctr {
    margin-top: 8px;
}

#date-filter-ctr {
    margin-top: 8px;
}
.more-info p {
    margin: 5px 0;
}
.more-info {
    display: none; /* Keep hidden until "See More" is clicked */
    position: absolute; /* Position absolutely within .movie-ctr */
    top: 100%; /* Adjust this value to position the popup right below the "See More" button */
    left: 0;
    width: 100%; /* Match the width of .movie-ctr, adjust as necessary */
    background-color: white; /* Ensure it's readable, consider your design */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Provides a floating effect */
    z-index: 10; /* Ensure it floats above other .movie-ctr elements */
    border-radius: 4px; /* Stylistic choice, adjust as needed */
    padding: 10px; /* Content padding */
    transform: translateY(-100%); /* Adjust if you need to position it differently */
    /* Additional styling as needed */
}

.movie-ctr:hover .more-info {
    display: block; /* Show the "See More" section */
    position: fixed; /* or 'absolute' depending on your layout needs */
    top: 50%; /* Adjust these to control where the pop-up appears */
    left: 50%;
    transform: translate(-50%, -50%); /* Center the pop-up */
    z-index: 999; /* Ensure it's on top of everything else */
    width: auto; /* or specific width */
    max-height: 90%; /* Prevent it from being too tall */
    overflow-y: auto; /* Allow internal scrolling if needed */
    /* Add more styling as needed */
}
.see-more-btn {
    cursor: pointer;
    padding: 10px;
    margin: 10px 0;
}

.star {
    color: goldenrod;
}
