:root {
    --ocean-blue: rgb(30,152,188);
    --sand-yellow: rgb(241,218,165);
    --burgundy-wine: rgb(86,37,58);
    --olive-green: rgb(122,103,49);
    --cloudy-grey: rgb(155,182,189);
    --turquoise-sea: rgb(70,225,232);
    --stormy-sky: rgb(59,91,114);
    --golden-sun: rgb(221,160,57);
    --terra-cotta: rgb(206,98,67);
}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: var(--cloudy-grey);
    overflow: auto;
    border: 1px solid #fff;
}
/** home controller **/
.top-nav {
    display: flex;
    height: 30px;
    gap: 30px;
    color: #cccccc;
    overflow: hidden;
    padding-left: 20px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding-bottom: 10px;
    font-size: 18px;
    padding-top: 12px;
    background: linear-gradient(to bottom, var(--sand-yellow), var(--burgundy-wine));
}

.top-nav a:hover {
    color: #a59c9f;
}

.nav-link {
    margin-top: 8px;
}

.search-ctr {
    margin-top: 8px;
    font-size: 18px;
}

#search-label {
    margin-right: 8px;
}

#search-box {
    width: 250px;
    border-radius: 8px;
}

/** home controller end **/

/** side nav bar**/
div.profilenav {
    display: grid;
    grid-template-columns:  1px [colum1-end colum2-start] ;
    height: 1000px;

}
.sidenav {
    grid-column: 1;
    padding-top: 20px;
    height: 100%;
    width: 200px;
    z-index: 2;
    top: 0;
    left: 0;
    background-color: var(--burgundy-wine);
    overflow-x: hidden;
    transition: 0.5s;
    text-align: center;

}

.sidenav a {
    display: block;
    color:var(--sand-yellow);
    padding: 16px;
    text-decoration: none;
}

.sidenav a.active {
    background-color: #a59c9f;
    color: white;
}

.sidenav a:hover:not(.active) {
    background-color: #a59c9f;
    color: white;
}

div.content {
    animation: 1.2s fillIn;
    grid-column:2;
    background: var(--cloudy-grey);
    margin-left: 200px;
    padding: 1px 16px;
    width: auto;
}

.cardbutton{
    gap:20px;
}

#orderdisplay {
    display: flex;
    gap: 20px;
    padding: 10px;
    margin: 20px auto;
    overflow-x: auto;
    flex-direction: row;
}

.receipt {
    min-height: 160px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: start;
    position: relative;
    padding: 10px;
    border-radius: 5px;
    background-color: var(--sand-yellow);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    transition: all .5s ease;
    flex: 1;
    min-width: 16px;
    max-width: 500px;
}

@keyframes fillIn {
    0% {
        transform: translateY(100px);
        opacity: 0;
    }
    100% {
        transform: translate(0);
        opacity: 1;
    }
}
@keyframes slipIn {
    0% {
        transform: translateZ(100px);
        opacity: 0;
    }
    100% {
        transform: translate(0);
        opacity: 1;
    }
}
