:root {
    --ocean-blue: rgb(30,152,188);
    --sand-yellow: rgb(241,218,165);
    --burgundy-wine: rgb(86,37,58);
    --olive-green: rgb(122,103,49);
    --cloudy-grey: rgb(155,182,189);
    --turquoise-sea: rgb(70,225,232);
    --stormy-sky: rgb(59,91,114);
    --golden-sun: rgb(221,160,57);
    --terra-cotta: rgb(206,98,67);
}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--burgundy-wine);
    height: 100vh;

}
/** home controller **/
.top-nav {
    display: flex;
    height: 30px;
    gap: 30px;
    color: #cccccc;
    overflow: hidden;
    padding-left: 20px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding-bottom: 10px;
    font-size: 18px;
    padding-top: 12px;
    background: linear-gradient(to bottom, var(--sand-yellow), var(--burgundy-wine));
}

.top-nav a:hover {
    color: #a59c9f;
}

.nav-link {
    margin-top: 8px;
    color: var(--turquoise-sea);
}

.search-ctr {
    margin-top: 8px;
    font-size: 18px;
}

#search-label {
    margin-right: 8px;
}

#search-box {
    width: 250px;
    border-radius: 8px;
}

/** home controller end **/
input[type="text"],
input[type="email"],
input[type="password"],
input[type="submit"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 4px;
    box-sizing: border-box;
    border: 1px solid var(--stormy-sky);
    background-color: #fff;
    color: var(--stormy-sky);
}


input[type="submit"] {
    background-color: var(--sand-yellow);
    border: none;
    padding: 12px;
    margin-top: 10px;
}

input[type="submit"]:hover {
    background-color: var(--golden-sun);
}

.signup-link a {
    color: var(--ocean-blue);
    padding-top: 15px;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
    height: 100vh;
}
.container {
    margin: auto;
    margin-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    height: fit-content;
    width: fit-content;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    background-color: var(--cloudy-grey);
    color: var(--stormy-sky);
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}
