:root {
    --ocean-blue: rgb(30,152,188);
    --sand-yellow: rgb(241,218,165);
    --burgundy-wine: rgb(86,37,58);
    --olive-green: rgb(122,103,49);
    --cloudy-grey: rgb(155,182,189);
    --turquoise-sea: rgb(70,225,232);
    --stormy-sky: rgb(59,91,114);
    --golden-sun: rgb(221,160,57);
    --terra-cotta: rgb(206,98,67);
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: var(--sand-yellow);
    background-image: url('static/css/images/Tile1.webp');
    background-repeat: repeat;
    background-attachment: fixed;
    background-position: center;
}

.container {
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 550px;
    overflow: auto;
    border: 1px solid #fff;
    background-color: var(--cloudy-grey);
    color: var(--stormy-sky);
}

.page-ctr {
    margin: auto;
    margin-top: 20px;
    padding: 20px;
    height: fit-content;
    width: fit-content;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    background: linear-gradient(to bottom, var(--sand-yellow), var(--terra-cotta));
    border-radius: 8px;
}

.top-nav {
    display: flex;
    height: 40px;
    gap: 30px;
    color: #cccccc;
    overflow: hidden;
    padding-left: 20px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding-bottom: 10px;
    font-size: 18px;
    padding-top: 12px;
    background: linear-gradient(to bottom, var(--sand-yellow), var(--burgundy-wine));
}

.top-nav a:hover {
    color: #a59c9f;
}
.nav-link {
    margin-top: 8px;
    color: var(--turquoise-sea);
}

input[type="email"],
input[type="tel"],
input[type="text"],
input[type="address"],
input[type="password"],
input[type="firstname"],
input[type="lastname"],
input[type="number"] {
    width: 100%;
    padding-top: 12px;
    padding-bottom: 5px;
    margin-right: 10px;
    margin-bottom: 15px;
    border: 1px solid var(--stormy-sky);
    border-radius: 4px;
    background-color: #fff;
    color: var(--stormy-sky);
}

input[type="submit"] {
    background-color: var(--golden-sun);
    border: none;
    padding: 12px;
    margin-top: 10px;
}

input[type="submit"]:hover {
    background-color: var(--terra-cotta);
}

.signup-link a {
    color: var(--ocean-blue);
    padding-top: 15px;
}

.removeCreditCardButton {
    padding: 2px;
    margin: 5px;
}

/* dropdown button */
.drop{
    width: 5em;
    height: 2em;
    line-height: 3;
    overflow: hidden;
    border-radius: .25em;
    padding-bottom: 10px;
    font-family: 'Montserrat', sans-serif;
}