<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" type="text/css"
          href="/css/addschedule.css"
          th:href="@{/css/addschedule.css}"
    />
    <title>Add Schedule</title>
</head>
<body>
<div id="nav-ctr">
    <nav class="top-nav">
        <a class="nav-link" th:href="@{/}">Home</a>
        <a class="nav-link" th:href="@{/admin/}">Admin Options</a>
        <a class="nav-link" th:href="@{/admin/managemovies}">Manage Movies</a>
        <div sec:authorize="isAuthenticated">
            <form th:action="@{/logout}" method="post">
                <input class="logout-button" type="submit" value="Sign Out" />
            </form>
        </div>
    </nav>
</div>
<div>
    <p th:text="${BAD_SCHEDULE}"></p>
</div>

<div class="scheduling-card">
    <h1>Schedule New Showing</h1>
    <form method="post">
        <label>Movie Title</label>
        <select class="drop" name="title">
            <option th:each="movie : ${listMovies}"
                    th:value="${movie.movieTitle}"
                    th:text="${movie.movieTitle}">
            </option>
        </select>
        <label>Room Number</label>
        <input type="number" name="room"/>
        <label>Date and Time</label>
        <input type="date" name="showDate">
        <select name="timeslot">
            <option th:each="code : ${T(com.spring.project.models.TimeSlots).values()}"
                    th:value="${code}"
                    th:text="${code}">
            </option>
        </select>
        <button type="submit">Submit</button>
    </form>
    <div class="schedule-table-ctr">
        <table class="schedule-table">
            <tr>
                <th class="show-id">Show ID</th>
                <th class="movie-title">Movie Title</th>
                <th class="room-name">Room Name</th>
                <th class="show-date">Show Date</th>
                <th class="show-date">Show Time</th>
                <th>Delete</th>
            </tr>
            <div class="table-content-container" th:each="show : ${shows}">
                <tr>
                    <td th:text="${show.id}" />
                    <td th:text="${show.movie_id.movieTitle}" />
                    <td th:text="${show.room_id.roomTitle}" />
                    <td th:text="${show.showDate}" />
                    <td th:text="${show.time_slot}" />
                    <td><button>Delete</button></td>
                </tr>
            </div>
        </table>
    </div>
</div>
</body>
</html>