<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <title>Admin Overview</title>
    <link rel="stylesheet"
          href="/css/adminView.css"
          th:href="@{/css/adminView.css}"
    />
</head>
<body>
<div id="nav-ctr">
    <nav class="top-nav">
        <a class="nav-link">Home</a>
    </nav>
</div>
<div id="options-ctr">
<h1 id="main-header">Admin Options Overview</h1><hr/>
    <h2 class="admin-subhead">Manage Movies</h2>
    <h2 class="admin-subhead">Manage Promotions</h2>
</div>
</body>
</html>