<!DOCTYPE html>
<html lang="en" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <meta charset="UTF-8" />
    <title>Admin Overview</title>
    <link rel="stylesheet"
          href="/css/adminView.css"
          th:href="@{/css/adminView.css}"
    />
</head>
<body>
<div class="nav-ctr">
    <nav class="top-nav">
        <a class="nav-link" th:href="@{/}">Home</a>
        <div sec:authorize="isAuthenticated">
            <form th:action="@{/logout}" method="post">
                <input class="logout-button" type="submit" value="Sign Out" />
            </form>
        </div>
    </nav>
</div>
<div id="options-ctr">

<h1 id="main-header">Admin Options Overview</h1><hr/>
    <h2 class="admin-subhead">
        <a class="options" th:href="@{/admin/managemovies}">Manage Movies</a>
    </h2>
    <h2 class="admin-subhead">
        <a class="options" th:href="@{/admin/promos}">Manage Promotions</a>
    </h2>
    <h2 class="admin-subhead">
        <a class="options" th:href="@{/admin/}">Manage Users</a>
    </h2>
</div>
</body>
</html>