<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Change Password</title>
  <link rel="stylesheet" type="text/css"
        href="/css/UserTopNav.css"
        th:href="@{/css/UserTopNav.css}"  />
  <link rel="stylesheet" type="text/css"
        href="/css/signup.css"
        th:href="@{/css/editprofile.css}"  />
</head>
<body>
<div id="nav-ctr">
  <nav class="top-nav">
    <a class="nav-link" th:href="@{/}">Home</a>
    <div sec:authorize="isAuthenticated">
      <p class="nav-link">
        Welcome <b><span sec:authentication="principal.fullName"></span></b>
      </p>
    </div>
    <div sec:authorize="isAuthenticated">
      <form th:action="@{/logout}" method="post">
        <input class="logout-button" type="submit" value="Sign Out" />
      </form>
    </div>
  </nav>
</div>
<div class="profilenav">
  <div class="sidenav">
    <a th:href="@{/profile}">Profile</a>
    <a th:href="@{/creditcards}">Credit cards</a>
    <a th:href="@{/orders}">Orders</a>
    <a class="active" th:href="@{/changepassword}">Change Password</a>
  </div>
<div class="content">
  <div>
    <h2>Change Password</h2>
  </div>
  <form id="verify" th:action="@{/changepw}" method="post">
    <label for="current-password" id="password-label">Enter current password:</label>
    <input type="password" id="current-password" name="currPass" required minlength="6" maxlength="20"/>
    <p th:text="${wrong_pass}"></p>
    <label for="new-password" id="new-label">Enter new password:</label>
    <input type="password" id="new-password" name="newPass" required minlength="6" maxlength="20"/>
    <label for="confirm-password" id="confirm-label">Enter new password:</label>
    <input type="password" id="confirm-password" name="confirmPass" required minlength="6" maxlength="20"/>
    <p th:text="${no_match}"></p>
    <button class="form-button" id="submit-button" type="submit" value="Submit">Submit</button>
  </form>
</div>
</div>
</body>
</html>