<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="/css/promos.css" th:href="@{/css/promos.css}">
</head>
<body>
    <div id="nav-ctr">
        <nav class="top-nav">
            <a class="nav-link"th:href="@{/}">Home</a>
            <a class="nav-link" th:href="@{/admin/}">Admin Options</a>
            <div sec:authorize="isAuthenticated">
                <form th:action="@{/logout}" method="post">
                    <input class="logout-button" type="submit" value="Sign Out" />
                </form>
            </div>
        </nav>
    </div>
    <div id="promo-card">
<h1>Create New Promotion</h1>

<form th:action="@{/admin/promos/create}" th:object="${promotion}" method="post">
        <label for="promoCode">Promo Code</label>
        <input type="text" id="promoCode" th:field="*{promoCode}" required>
        <label for="percentage">Discount Percentage</label>
        <input type="number" id="percentage" th:field="*{percentage}" required>


        <label for="startDate">Start Date</label>
        <input type="date" id="startDate" th:field="*{startDate}" required>


        <label for="endDate">End Date</label>
        <input type="date" id="endDate" th:field="*{endDate}" required>

    <button type="submit">Create Promotion</button>
</form>
</div>
</body>
</html>