<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CreditCards</title>
    <link rel="stylesheet" type="text/css"
          href="/css/creditcards.css"
          th:href="@{/css/creditcards.css}" />
</head>
<body>
<div id="nav-ctr">
    <nav class="top-nav">
        <a class="nav-link">Book</a>
        <a class="nav-link" th:href="@{/signin}">Login</a>
        <a class="nav-link">About</a>
        <div class="search-ctr">
            <form id="search-form"
                  th:action="@{/search}"
                  method="get">
                <label for="search-box" id="search-label">Search:</label>
                <input type="search" id="search-box" name="keyword"/>
                <button id="search-button" type="submit" value="Search">Go</button>
            </form>
        </div>
    </nav>
</div>
<div class="profilenav">
    <div class="sidenav">
        <a th:href="@{/profile}">Profile</a>
        <a class="active" th:href="@{/creditcards}">Credit cards</a>
        <a th:href="@{/orders}">Orders</a>
    </div>
    <div class="content">
        <h1 id="content-title">Credit Cards </h1>
        <select id="SelectCar" onchange="displayCarDetails()">
            <option value="Indica">Indica</option>
            <option value="Nano">Nano</option>
            <option value="i20">i20</option>
        </select>
        <a th:href="@{/editcards}" ><button id="cardbutton"><strong>Edit card</strong></button></a>
        <p id="CardDetail"></p>

    </div>
</div>
</body>
<script th:object="${cards}">
    var cars = [
        {carName:"Indica",Price:"900000",yearOfModel:"2016"},
        {carName:"Nano",Price:"700000",yearOfModel:"2017"},
        {carName:"i20",Price:"500000",yearOfModel:"2013"}
    ]

    var selectNode = document.getElementById('SelectCar');
    var detailNode = document.getElementById('CardDetail');

    function displayCarDetails(){
        var selected = selectNode.value;
        cars.forEach(function (car) {
            if (car.carName === selected) {


                detailNode.innerHTML = `
                <div class="card">
                <h4>Card Number: ${car.carName}</h4>
                <h4>Expiration date: ${car.carName}</h4>
                <h4>sid: ${car.carName}</h4>
                <h4>Name: ${car.carName}</h4>
                <h4>Address: ${car.carName}</h4>
                <h4>City: ${car.carName}</h4>
                <h4>State: ${car.carName}</h4>
                <h4>Zipcode: ${car.carName}</h4>
            </div>
              `;
            }
        });
    }
    displayCarDetails(); // show which car is selected on start
</script>
</html>

