<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Profile</title>
    <link rel="stylesheet" type="text/css"
          href="/css/UserTopNav.css"
          th:href="@{/css/UserTopNav.css}"  />
    <link rel="stylesheet" type="text/css"
          href="/css/profile.css"
          th:href="@{/css/editprofile.css}" />
</head>
<body>
<div id="nav-ctr">
    <nav class="top-nav">
        <a class="nav-link" th:href="@{/}">Home</a>
        <div sec:authorize="isAuthenticated">
            <p class="nav-link">
                Welcome <b><span sec:authentication="principal.fullName"></span></b>
            </p>
        </div>
        <div sec:authorize="isAuthenticated">
            <form th:action="@{/logout}" method="post">
                <input class="logout-button" type="submit" value="Sign Out" />
            </form>
        </div>
    </nav>
</div>
<div class="profilenav">
    <div class="sidenav">
        <a class="active" th:href="@{/profile}">Profile</a>
        <a th:href="@{/creditcards}">Credit cards</a>
        <a th:href="@{/orders}">Orders</a>
        <a th:href="@{/changepassword}">Change Password</a>
    </div>

    <div class="content">
        <h1>Edit Profile </h1>

        <form th:action="@{/make_edits}" th:object="${user}"method="post">
            <h4>Email: <span th:text="*{email}"></span></h4>
            <label><strong>First Name:</strong><input id="firstname" type="text" th:field="*{firstName}" name="firstname" placeholder="FirstName" required></label>
            <br/>
            <br/>
            <label><strong>Last Name: </strong><input id="lastname" type="text" th:field="*{lastName}" name="lastname" placeholder="LastName" required> </label>
            <br/>
            <br/>
            <label><strong>Address:   </strong><input id="home-address" type="text" th:field="*{address.streetAddress}" name="home-address" placeholder="home-address  (optional)" ></label>
            <br/>
            <br/>
            <label><strong>City:      </strong><input id="home-city" type="text" th:field="*{address.cityName}" name="home-city" placeholder="city  (optional)" ></label>
            <br/>
            <br/>
            <label><strong>State:     </strong>
                <select class="drop" th:field="*{address.stateCode}">
                    <option th:each="code : ${T(com.spring.project.users.userinfo.StateCode).values()}"
                            th:value="${code}"
                            th:text="${code}">
                    </option>
                </select>
            </label>
            <br/>
            <br/>
            <label><strong>Zipcode:   </strong><input id="home-zipcode" type="text" th:field="*{address.zipCode}" name="home-zipcode" placeholder="zipcode (optional)" ></label>
            <br/>
            <br/>
            <label><strong>Subscribed to promotions  </strong><input type="checkbox" th:field="*{subscription}"id="agreeCheckbox" name="agreeCheckbox" ></label>
            <br/>
            <br/>
            <input class="form-button" type="submit" value="editprofile"><a th:href="@{/profile}" ></a>
        </form>
    </div>
</div>

</div>
</body>

</html>