<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Profile</title>
    <link rel="stylesheet" type="text/css"
          href="/css/profile.css"
          th:href="@{/css/editprofile.css}" />
</head>
<body>
<div id="nav-ctr">
    <nav class="top-nav">
        <a class="nav-link">Book</a>
        <a class="nav-link" th:href="@{/}">Home</a>
        <a class="nav-link">About</a>
        <div class="search-ctr">
            <form id="search-form"
                  th:action="@{/search}"
                  method="get">
                <label for="search-box" id="search-label">Search:</label>
                <input type="search" id="search-box" name="keyword"/>
                <button id="search-button" type="submit" value="Search">Go</button>
            </form>
        </div>
    </nav>
</div>
<div class="profilenav">
    <div class="sidenav">
        <a class="active" th:href="@{/profile}">Profile</a>
        <a th:href="@{/creditcards}">Credit cards</a>
        <a th:href="@{/orders}">Orders</a>
    </div>

    <div class="content">
        <h1>Profile </h1>
        <h4>Email: </h4>
        <form th:action="@{/make_edits}" th:object="${user}"method="post">
            <label><strong>First Name:</strong><input id="firstname" type="text" th:field="*{firstName}" name="firstname" placeholder="FirstName" required></label>
            <br/>
            <br/>
            <label><strong>Last Name: </strong><input id="lastname" type="text" th:field="*{lastName}" name="lastname" placeholder="LastName" required> </label>
            <br/>
            <br/>
            <label><strong>Address:   </strong><input id="home-address" type="text" th:field="*{address.streetAddress}" name="home-address" placeholder="home-address  (optional)" ></label>
            <br/>
            <br/>
            <label><strong>City:      </strong><input id="home-city" type="text" th:field="*{address.cityName}" name="home-city" placeholder="city  (optional)" ></label>
            <br/>
            <br/>
            <label><strong>State:     </strong><input id="home-state" type="text" th:field="*{address.stateCode}" name="home-state" placeholder="state (optional)" ></label>
            <br/>
            <br/>
            <label><strong>Zipcode:   </strong><input id="home-zipcode" type="text" th:field="*{address.zipCode}" name="home-zipcode" placeholder="zipcode (optional)" ></label>
            <br/>
            <br/>
            <label><strong>Subscribed to promotions  </strong><input type="checkbox" th:field="*{subscription}"id="agreeCheckbox" name="agreeCheckbox" ></label>
            <br/>
            <br/>
            <input type="submit" value="editprofile"><a th:href="@{/editprofile}" ></a>
        </form>
    </div>
</div>

</div>
</body>

</html>