<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <meta charset="UTF-8">
    <title>Homepage</title>
    <link rel="stylesheet"
          href="/css/homepage.css"
          th:href="@{/css/homepage.css}"
    />
</head>
<body>
    <div id="nav-ctr">
        <nav class="top-nav">
            <a class="nav-link">Book</a>
            <div sec:authorize="!(isAuthenticated)"><a class="nav-link" th:href="@{/login}">Login</a></div>
            <div sec:authorize="isAuthenticated"><a class="nav-link" th:href="@{/profile}">Profile</a></div>
            <a class="nav-link" th:href="@{/signup}">Register</a>
            <a class="nav-link">About</a>
            <div sec:authorize="hasRole('ROLE_ADMIN')">
                <a class="nav-link" th:href="@{/admin/}">Admin</a>
            </div>
            <div class="search-ctr">
                <form id="search-form"
                th:action="@{/search}"
                      method="get">
                    <label for="search-box" id="search-label">Search:</label>
                    <input type="search" id="search-box" name="keyword"/>
                    <button id="search-button" type="submit" value="Search">Go</button>
                </form>
            </div>
            <div sec:authorize="isAuthenticated">
            <p>
                Welcome <b><span sec:authentication="principal.fullName"></span></b>
            </p>
            </div>
            <div sec:authorize="isAuthenticated">
                <form th:action="@{/logout}" method="post">
                    <input type="submit" value="Sign Out" />
                </form>
            </div>

        </nav>
    </div>
    <div>
        <img th:src="@{/css/images/Tidal_Waves_Home.webp}" alt="Tidal Waves Theaters" width="100%">
    </div>
        <h1 class="now-showing-header">Now Showing</h1>

    <div class="movie-list-container">
        <div class="movie-overview">
            <div th:each="movie : ${movies}" th:if="${movie.nowPlaying==1}" class="movie-ctr">
                <a href="#" class="movie-title" th:text="${movie.movieTitle}"></a>
                <iframe width="530" height="365"
                        class="trailer-video"
                        th:src="${movie.trailerVideo}"
                        title="YouTube video player"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                        allowfullscreen>
                </iframe>
                <div class="rating-ctr">
                    <p class="rating-text" th:text="${movie.rating}"></p>
                </div>
                <div class="details-link-ctr">
                    <p class="details-link">Details</p>
                </div>
                <div class="book-tickets-btn-ctr">
                    <button class="book-tickets-btn">Book</button>
                </div>
            </div>
        </div>
    </div>

    <h1 class="now-showing-header">Coming Soon</h1>
    <div class="movie-list-container">
    <div class="movie-overview">
        <div class="movie-ctr box" th:each="movie : ${movies}" th:if="${movie.nowPlaying==0}">
            <a class="movie-title" th:text="${movie.movieTitle}" />
            <iframe width="530" height="365"
                    class="trailer-video"
                    th:src="${movie.trailerVideo}"
                    title="YouTube video player"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture;
                        web-share" allowfullscreen>
            </iframe>
            <div class="rating-ctr">
                <p class="rating-text" th:text="${movie.rating}" />
            </div>
            <div class="details-link-ctr">
                <p class="details-link">Details</p>
            </div>
            <div class="book-tickets-btn-ctr">
                <button class="book-tickets-btn">Book</button>
            </div>
        </div>
    </div>
    </div>

    <h1 class="now-showing-header">&nbsp</h1> <!-- Style purposes -->

    <footer class="site-footer">
        <div class="footer-content">
            <div class="footer-nav">
                <a href="/">Home</a>
                <a href="/about">About Us</a>
                <a href="/contact">Contact</a>
            </div>
            <div class="social-media">

            </div>
            <div class="footer-contacts">
                <a href="example:info@website.com">info@yourwebsite.com</a>
                <a href="tel:+123456789">+1 (234) 567-890</a>
            </div>
            <div class="legal">
                <a href="/privacy-policy">Privacy Policy</a>
                <a href="/terms-of-use">Terms of Use</a>
            </div>
            <div class="newsletter-signup">
                <!-- Newsletter signup form or link -->
            </div>
        </div>
        <p class="copyright">© 2024 TidalWavesTheaters. All rights reserved.</p>
    </footer>
    <div>
        <img th:src="@{css/images/Tidal_Waves_Overview.webp}" alt="Tidal Waves Background" width="100%">
    </div>
</body>
</html>