<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <meta charset="UTF-8">
    <title>Homepage</title>
    <link rel="stylesheet" type="text/css"
          href="/css/UserTopNav.css"
          th:href="@{/css/UserTopNav.css}"  />
    <link rel="stylesheet"
          href="/css/homepage.css"
          th:href="@{/css/homepage.css}"
    />
</head>
<body>

<div id="nav-ctr">
    <nav class="top-nav">
        <a class="nav-link" th:href="@{/}">Home</a>
        <div class="nav-link" sec:authorize="!(isAuthenticated)">
            <a class="nav-link" th:href="@{/login}">Login</a>
        </div>
        <div class="nav-link" sec:authorize="!(isAuthenticated)">
            <a class="nav-link" th:href="@{/signup}">Register</a>
        </div>
        <div class="nav-link" sec:authorize="isAuthenticated">
            <a class="nav-link" th:href="@{/profile}">Profile</a>
        </div>
        <div class="nav-link"><a>About</a></div>
        <div class="nav-link" sec:authorize="hasRole('ROLE_ADMIN')">
            <a class="nav-link" th:href="@{/admin/}">Admin</a>
        </div>
        <div class="search-ctr">
            <form id="search-form"
                  th:action="@{/search}"
                  method="get">
                <label for="search-box" id="search-label">Search:</label>
                <input type="search" id="search-box" name="keyword"/>
                <button id="search-button" type="submit" value="Search">Go</button>
            </form>
        </div>
        <div sec:authorize="isAuthenticated">
            <p class="nav-link">
                Welcome <b><span sec:authentication="principal.fullName"></span></b>
            </p>
        </div>
        <div sec:authorize="isAuthenticated">
            <form th:action="@{/logout}" method="post">
                <input class="logout-button" type="submit" value="Sign Out" />
            </form>
        </div>
        <div id="ns-filter-ctr">
            <label id="now-showing-label" for="now_showing_check">Now Showing</label>
            <input type="checkbox" id="now-showing-check" name="now-showing-check" />
        </div>
        <div id="cs-filter-ctr">
            <label id="coming-soon-label" for="coming-soon-check">Coming Soon</label>
            <input type="checkbox" id="coming-soon-check" name="coming-soon-check" />
        </div>
        <div id="date-filter-ctr">
            <label id="date-filter-label" for="date-filter">Date</label>
            <input type="date" id="date-filter" name="date-filter" />
        </div>
    </nav>
</div>
<div>
    <img th:src="@{/css/images/Tidal_Waves_Home.webp}" alt="Tidal Waves Theaters" width="100%">
</div>
<div id="overlay" class="overlay" onclick="closeModal();"></div>

<h1 class="now-showing-header">Now Showing</h1>
<div class="movie-list-container">
    <div class="movie-overview">
        <div th:each="movie, iterStat : ${movies}" th:if="${movie.nowPlaying.equals('Now Showing')}" class="movie-ctr now-showing">
            <div>
                <a class="movie-title" th:text="${movie.movieTitle}"/>
                <a class="rating-text" th:text="${movie.rating}" />
            </div>
            <div class="category" th:text="${movie.category}"></div>
            <iframe width="640" height="360"
                    class="trailer-video"
                    th:src="${movie.trailerVideo}"
                    title="YouTube video player"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                    allowfullscreen>
            </iframe>

            <div class="book-tickets-btn-ctr">
                <button class="book-tickets-btn">
                    <a th:href="@{/select-show/{id}(id=${movie.id})}">
                        Book
                    </a>
                </button>
                <button class="see-more-btn" th:data-modal-target="'#modal' + ${iterStat.index}">See Details</button>
                <div th:attr="id='modal' + ${iterStat.index}" class="modal">
                    <div class="modal-header">
                        <div class="title" th:text="${movie.movieTitle}"></div>
                        <button th:data-close-button="'#modal' + ${iterStat.index}" class="close-button">&times;</button>
                    </div>
                    <div class="modal-body">
                        <div class="trailer-info-bar">
                        <img class="modal-image" th:src="${movie.trailerPhoto}" alt="Movie Preview" />
                            <div class="information-down-header">
                            <div class="information-down">
                        <p><strong>Cast</strong> <span th:text="${movie.cast}">[Cast]</span></p>
                        <p><strong>Director</strong> <span th:text="${movie.director}">[Director]</span></p>
                        <p><strong>Producer</strong> <span th:text="${movie.producer}">[Producer]</span></p>
                            </div>
                                <p class="reviews-bar">
                                    <strong>Reviews: </strong>
                                <div class="Stars" th:style="'--rating: ' + ${movie.reviews} + ';' + '--percent: calc(' + ${movie.reviews} + ' / 5 * 100%)'" aria-label="Rating of this product is [[${movie.reviews}]] out of 5.">
                                </div>
                            </div>
                        </div>
                        <p><strong>Synopsis:</strong> <span th:text="${movie.synop}">[Synopsis]</span></p>

                    </div>
                </div>
            </div>
            </div>
        </div>
    </div>
<h1 class="now-showing-header">&nbsp</h1> <!-- Style purposes -->

<h1 class="now-showing-header">Coming Soon</h1>
<div class="movie-list-container">
    <div class="movie-overview">
        <div class="movie-ctr box coming-soon" th:each="movie, iterStat : ${movies}" th:if="${movie.nowPlaying.equals('Coming Soon')}">
            <div>
                <a class="movie-title" th:text="${movie.movieTitle}"/>
                <a class="rating-text" th:text="${movie.rating}" />
            </div>
            <div class="category" th:text="${movie.category}"></div>
            <iframe width="640" height="360"
                    class="trailer-video"
                    th:src="${movie.trailerVideo}"
                    title="YouTube video player"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture;
                        web-share" allowfullscreen>
            </iframe>
            <!-- Details and See Details -->
            <p></p><p></p>
            <button class="see-more-btn" th:data-modal-target="'#modal' + ${iterStat.index}">See Details</button>
            <div th:attr="id='modal' + ${iterStat.index}" class="modal">
            <div class="modal-header">
                <div class="title" th:text="${movie.movieTitle}"></div>
                <button th:data-close-button="'#modal' + ${iterStat.index}" class="close-button">&times;</button>
            </div>
                <div class="modal-body">
                    <div class="trailer-info-bar">
                        <img class="modal-image" th:src="${movie.trailerPhoto}" alt="Movie Preview" />
                        <div class="information-down-header">
                            <div class="information-down">
                                <p><strong>Cast</strong> <span th:text="${movie.cast}">[Cast]</span></p>
                                <p><strong>Director</strong> <span th:text="${movie.director}">[Director]</span></p>
                                <p><strong>Producer</strong> <span th:text="${movie.producer}">[Producer]</span></p>
                            </div>
                            <p class="reviews-bar">
                                <strong>Reviews: </strong>
                            <div class="Stars" th:style="'--rating: ' + ${movie.reviews} + ';' + '--percent: calc(' + ${movie.reviews} + ' / 5 * 100%)'" aria-label="Rating of this product is [[${movie.reviews}]] out of 5.">
                            </div>
                        </div>
                    </div>
                    <p><strong>Synopsis:</strong> <span th:text="${movie.synop}">[Synopsis]</span></p>

                </div>
            </div>
        </div>
</div>
</div>


<h1 class="now-showing-header">&nbsp</h1> <!-- Style purposes -->

<footer class="site-footer">
    <div class="footer-content">
        <div class="footer-nav">
            <a href="/">Home</a>
            <a href="/about">About Us</a>
            <a href="/contact">Contact</a>
        </div>
        <div class="social-media">

        </div>
        <div class="footer-contacts">
            <a href="example:info@website.com">info@yourwebsite.com</a>
            <a href="tel:+123456789">+1 (234) 567-890</a>
        </div>
        <div class="legal">
            <a href="/privacy-policy">Privacy Policy</a>
            <a href="/terms-of-use">Terms of Use</a>
        </div>
        <div class="newsletter-signup">
        </div>
    </div>
    <p class="copyright">© 2024 TidalWavesTheaters. All rights reserved.</p>
</footer>
<div>
    <img th:src="@{css/images/Tidal_Waves_Overview.webp}" alt="Tidal Waves Background" width="100%">
</div>
    <script th:inline="javascript">
        document.addEventListener('DOMContentLoaded', function () {
            // Function to update visibility of movies based on filters
            function updateMovieDisplays() {
                var nowShowingMovies = document.getElementsByClassName('now-showing');
                var comingSoonMovies = document.getElementsByClassName('coming-soon');
                var nowShowingCheck = document.getElementById('now-showing-check').checked;
                var comingSoonCheck = document.getElementById('coming-soon-check').checked;

                for (var i = 0; i < nowShowingMovies.length; i++) {
                    nowShowingMovies[i].style.display = nowShowingCheck ? 'flex' : 'none';
                }
                for (var i = 0; i < comingSoonMovies.length; i++) {
                    comingSoonMovies[i].style.display = comingSoonCheck ? 'flex' : 'none';
                }
            }

            // Attach event listeners for filters
            document.getElementById('now-showing-check').addEventListener('change', updateMovieDisplays);
            document.getElementById('coming-soon-check').addEventListener('change', updateMovieDisplays);

            const overlay = document.getElementById('overlay');

            overlay.addEventListener('click', () => {
                const modals = document.querySelectorAll('.modal.active');
                modals.forEach(modal => {
                    closeModal(modal);
                });
            });
            // Code inspired by github:WebDevSimplified
            // Functions to handle opening and closing of modals
            const openModalButtons = document.querySelectorAll('[data-modal-target]');
            const closeModalButtons = document.querySelectorAll('[data-close-button]');

            openModalButtons.forEach(button => {
                button.addEventListener('click', () => {
                    const modal = document.querySelector(button.getAttribute('data-modal-target'));
                    openModal(modal);
                });
            });

            closeModalButtons.forEach(button => {
                button.addEventListener('click', () => {
                    const modal = document.querySelector(button.getAttribute('data-close-button'));
                    closeModal(modal);
                });
            });

            function openModal(modal) {
                if (modal == null) return;
                modal.classList.add('active');
                overlay.classList.add('active');
            }

            function closeModal(modal) {
                if (modal == null) return;
                modal.classList.remove('active');
                overlay.classList.remove('active');
            }
        });
    </script>
</body>
</html>
