<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    <link rel="stylesheet" type="text/css"
          href="/css/UserTopNav.css"
          th:href="@{/css/UserTopNav.css}"  />
    <link rel="stylesheet" type="text/css"
          href="/css/signin.css"
          th:href="@{/css/signin.css}"  />
</head>
<body>
<div id="nav-ctr">
    <nav class="top-nav">
        <a class="nav-link" th:href="@{/}">Home</a>
        <a class="nav-link" th:href="@{/signup}">Register</a>
        <a class="nav-link">About</a>
        <div sec:authorize="isAuthenticated">
            <p>
                Welcome <b><span sec:authentication="principal.fullName"></span></b>
            </p>
        </div>
        <div sec:authorize="isAuthenticated">
            <form th:action="@{/logout}" method="post">
                <input type="submit" value="Sign Out" />
            </form>
        </div>

    </nav>
</div>
<div class="container">
<h1>Please Log In</h1>
<div class="error" th:if="${param.error}"
     th:with="errorMsg=${session['SPRING_SECURITY_LAST_EXCEPTION'].message}">
    Reason: <span th:text="${errorMsg}">Wrong input!</span>
</div>
<div th:if="${param.logout}">
    You have been logged out.</div>
<form class="form-signin" th:action="@{/login}" method="post">
    <div>
    <input type="email" name="email" placeholder="Email"/>
    </div>
    <div>
    <input type="password" name="password" placeholder="Password"/>
    </div>
    <input type="submit" value="Log in" />
</form>
        <div class="signup-link">
            <p>Don't have an account? <a th:href="@{/signup}">Sign Up</a></p>
            <p>Don't remember your password? <a th:href="@{/forgotpassword}">Forgot Password</a></p>
        </div>
</div>

</body>
</html>
