<!DOCTYPE html>
<html lang="en" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <meta charset="UTF-8" />
    <title>Manage Movies</title>
    <link rel="stylesheet"
          href="/css/manageMovies.css"
          th:href="@{/css/manageMovies.css}"
    />
</head>
<body>
<div id="nav-ctr">
    <nav class="top-nav">
        <a class="nav-link"th:href="@{/}">Home</a>
        <a class="nav-link" th:href="@{/admin/}">Admin Options</a>
        <div sec:authorize="isAuthenticated">
            <form th:action="@{/logout}" method="post">
                <input class="logout-button" type="submit" value="Sign Out" />
            </form>
        </div>
    </nav>
</div>
<div class="page-ctr">
    <h1 id="main-header">Admin - Manage Movies</h1><hr/>
    <div options-ctr>
        <h2 class="option-header">
            <a class="options" th:href="@{/admin/create}">Add New Movie</a>
        </h2>
        <h2 class="option-header">
            <a class="options" th:href="@{/admin/editmovies}">View Movies</a>
        </h2>
        <h2 class="option-header">
            <a class="options" th:href="@{/admin/addschedule}">Scheduling</a>
        </h2>
    </div>
</div>
</body>
</html>