<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <meta charset="UTF-8" />
    <title>Manage Users</title>
    <link rel="stylesheet" type="text/css"
          href="/css/manageusers.css"
          th:href="@{/css/manageusers.css}" />
    <script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>
</head>
<body>
    <div id="nav-ctr">
        <nav class="top-nav">
            <a class="nav-link"><a th:href="@{/admin}">Home</a></a>
        </nav>
    </div>
    <div>
        <h1>List of Users</h1>
        <div>
            <p> Input a users ID to change their role (admin->customer and customer->admin) </p>
            <form th:action="@{/admin/alterUserRole}" method="post">
                <input type="number" name="userId" value="userId"/>
                <div>
                    <button type="submit" class="btn btn-primary">Alter Role</button>
                </div>
            </form>
        </div>
        <div>
            <p> Input a users ID to change their suspension status (active->suspended and suspended->active) </p>
            <form th:action="@{/admin/alterUserStatus}" method="post">
                <input type="number" name="userId" value="userId"/>
                <div>
                    <button type="submit" class="btn btn-primary">Alter Status</button>
                </div>
            </form>
        </div>
        
    </div>
     
    <div>
        <table class="table table-striped table-bordered">
            <thead class="thead-dark">
                <tr>
                    <th>User ID</th>
                    <th>E-mail</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>User Type</th>
                    <th>User Status</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="user: ${listUsers}">
                    <td th:text="${user.id}">User ID</td>
                    <td th:text="${user.email}">E-mail</td>
                    <td th:text="${user.firstName}">First Name</td>
                    <td th:text="${user.lastName}">Last Name</td>
                    <td th:text="${user.role}">Role</td>
                    <td th:text="${user.status}">Status</td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>