<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Orders</title>
    <link rel="stylesheet" type="text/css"
          href="/css/UserTopNav.css"
          th:href="@{/css/UserTopNav.css}"  />
    <link rel="stylesheet" type="text/css"
          href="/css/orders.css"
          th:href="@{/css/orders.css}" />
</head>
<body>
<div id="nav-ctr">
    <nav class="top-nav">
        <a class="nav-link">Book</a>
        <a class="nav-link" th:href="@{/}">Home</a>
        <div sec:authorize="isAuthenticated">
            <p class="nav-link">
                Welcome <b><span sec:authentication="principal.fullName"></span></b>
            </p>
        </div>
        <div sec:authorize="isAuthenticated">
            <form th:action="@{/logout}" method="post">
                <input class="logout-button" type="submit" value="Sign Out" />
            </form>
        </div>
    </nav>
</div>
<div class="profilenav">
    <div class="sidenav">
        <a th:href="@{/profile}">Profile</a>
        <a th:href="@{/creditcards}">Credit cards</a>
        <a class="active" th:href="@{/orders}">Orders</a>
        <a th:href="@{/changepassword}">Change Password</a>
    </div>
    <div class="content">
        <h1 id="content-title">Orders </h1>
        <div id="orderdisplay" >
            <div class="receipt" th:each="booking : ${bookings}">

                <table class="table table-striped table-bordered">
                    <thead class="thead-dark">
                        <tr>
                            <th>Booking ID</th>
                            <th>Movie Title</th>
                            <th>Show Time</th>
                            <th>Show Date</th>
                            <th>Total Cost</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td th:text="${booking.getId()}">Booking ID</td>
                            <td th:text="${booking.getShow().movie_id.getMovieTitle()}">Movie Title</td>
                            <td th:text="${booking.getShow().time_slot}">Show Time</td>
                            <td th:text="${booking.getShow().showDate}">Show Date</td>
                            <td th:text="${booking.getTotalCost()}">Total Costs</td>
                        </tr>
                    </tbody>
                </table>
                <table class="table table-striped table-bordered">
                    <thead class="thead-dark">
                        <tr>
                            <th>Seat Name</th>
                            <th>Seat Cost</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="ticket : ${ticketRepo.findByBookingId(booking.getId())}">
                            <th th:text="${ticket.getSeatId().getSeatLabel()}">Seat Name</th>
                            <th th:text="${ticket.getPrice()}">Seat Cost</th>
                        </tr>
                    </tbody>
                </table>

            </div>

        </div>
    </div>

</div>

</body>

</html>