<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Orders</title>
    <link rel="stylesheet" type="text/css"
          href="/css/UserTopNav.css"
          th:href="@{/css/UserTopNav.css}"  />
    <link rel="stylesheet" type="text/css"
          href="/css/orders.css"
          th:href="@{/css/orders.css}" />
</head>
<body>
<div id="nav-ctr">
    <nav class="top-nav">
        <a class="nav-link">Book</a>
        <a class="nav-link" th:href="@{/}">Home</a>
        <div sec:authorize="isAuthenticated">
            <p class="nav-link">
                Welcome <b><span sec:authentication="principal.fullName"></span></b>
            </p>
        </div>
        <div sec:authorize="isAuthenticated">
            <form th:action="@{/logout}" method="post">
                <input class="logout-button" type="submit" value="Sign Out" />
            </form>
        </div>
    </nav>
</div>
<div class="profilenav">
    <div class="sidenav">
        <a th:href="@{/profile}">Profile</a>
        <a th:href="@{/creditcards}">Credit cards</a>
        <a class="active" th:href="@{/orders}">Orders</a>
        <a th:href="@{/changepassword}">Change Password</a>
    </div>
    <div class="content">
        <h1 id="content-title">Orders </h1>
        <div id="orderdisplay">
            <div class="receipt">
                <h4>Name: </h4>
            </div>

        </div>
    </div>

</div>

</body>

</html>