<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Profile</title>
    <link rel="stylesheet" type="text/css"
          href="/css/UserTopNav.css"
          th:href="@{/css/UserTopNav.css}"  />
    <link rel="stylesheet" type="text/css"
          href="/css/profile.css"
          th:href="@{/css/profile.css}" />
</head>
<body>
<div id="nav-ctr">
    <nav class="top-nav">
        <a class="nav-link" th:href="@{/}">Home</a>
        <a class="nav-link">About</a>
        <div sec:authorize="isAuthenticated">
            <p class="nav-link">
                Welcome <b><span sec:authentication="principal.fullName"></span></b>
            </p>
        </div>
        <div sec:authorize="isAuthenticated">
            <form th:action="@{/logout}" method="post">
                <input class="logout-button" type="submit" value="Sign Out" />
            </form>
        </div>
    </nav>
</div>
<div class="profilenav">
    <div class="sidenav">
        <a class="active" th:href="@{/profile}">Profile</a>
        <a th:href="@{/creditcards}">Credit cards</a>
        <a th:href="@{/orders}">Orders</a>
        <a th:href="@{/changepassword}">Change Password</a>
    </div>

    <div class="content" th:object="${user}">
        <h1>Profile </h1>
        <h4>Email: <span th:text="*{email}"></span></h4>
        <h4>First Name: <span th:text="*{firstName}"></span></h4>
        <h4>Last Name: <span th:text="*{lastName}"></span></h4>
        <h4>Address: <span th:text="*{address?.streetAddress}"></span></h4>
        <h4>City: <span th:text="*{address?.cityName}"></span></h4>
        <h4>State: <span th:text="*{address?.stateCode}"></span></h4>
        <h4>Zipcode: <span th:text="*{address?.zipCode}"></span></h4>
        <label><strong>Subscribed to promotions  </strong><div th:if="*{subscription}">YES</div><div th:unless="*{subscription}">NO</div></label>
        <br/>
        <br/>
        <a th:href="@{/editprofile}" ><button class="reg-button"><strong>Edit profile</strong></button></a>
    </div>
</div>

</body>

</html>