<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Profile</title>
    <link rel="stylesheet" type="text/css"
          href="/css/profile.css"
          th:href="@{/css/profile.css}" />
</head>
<body>
<div id="nav-ctr">
    <nav class="top-nav">
        <a class="nav-link">Book</a>
        <a class="nav-link" th:href="@{/signin}">Login</a>
        <a class="nav-link">About</a>
        <div class="search-ctr">
            <form id="search-form"
                  th:action="@{/search}"
                  method="get">
                <label for="search-box" id="search-label">Search:</label>
                <input type="search" id="search-box" name="keyword"/>
                <button id="search-button" type="submit" value="Search">Go</button>
            </form>
        </div>
    </nav>
</div>
<div class="profilenav">
    <div class="sidenav">
        <a class="active" th:href="@{/profile}">Profile</a>
        <a th:href="@{/creditcards}">Credit cards</a>
        <a th:href="@{/orders}">Orders</a>
    </div>

    <div class="content">
        <h1>Profile </h1>
        <h4>Email: </h4>
        <h4>First Name:</h4>
        <h4>Last Name:</h4>
        <h4>Address:</h4>
        <h4>City:</h4>
        <h4>State:</h4>
        <h4>Zipcode:</h4>
        <label><strong>Subscribed to promotions  </strong><input type="checkbox" id="agreeCheckbox" name="agreeCheckbox" disabled></label>
        <br/>
        <br/>
        <a th:href="@{/editprofile}" ><button><strong>Edit profile</strong></button></a>
    </div>
</div>

</body>

</html>

