<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <title>Scheduling</title>
    <link rel="stylesheet" type="text/css"
          href="/css/scheduling.css"
          th:href="@{/css/scheduling.css}"
          />
</head>
<body>
<div id="nav-ctr">
  <nav class="top-nav">
    <a class="nav-link">Home</a>
  </nav>
</div>
<h1 id="promo-header">Scheduling</h1><hr/>
<div id="promo-card">
  <div id="schedule-table-ctr">
    <table id="schedule-table">
        <tr>
          <th class="mobie-id">Movie ID</th>
          <th class="schedule-movie-title">Movie Title</th>
          <th class="start-date">Start Date</th>
          <th class="end-date">End Date</th>
          <th class="show-times">Show Times</th>
          <th>Edit</th>
        </tr>
      <div class="table-content-ctr" th:each="movie : ${movies}">
        <tr>
          <td th:text="${movie.id}" />
          <td th:text="${movie.movieTitle}" />
          <td>11/11/11</td>
          <td>12/12/12</td>
          <td>Show Times</td>
          <td><button class="edit-dates-button">Edit</button></td>
        </tr>
      </div>
    </table>
  </div>
</div>
</body>
</html>