<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    <link rel="stylesheet" type="text/css"
          href="/css/signin.css"
          th:href="@{/css/signin.css}"  />
</head>
<body>
<div id="nav-ctr">
    <nav class="top-nav">
        <a class="nav-link"><a th:href="@{/}">Home</a></a>
    </nav>
</div>
<h1>Please Log In</h1>
<div th:if="${param.error}">
    Invalid username and password.</div>
<div th:if="${param.logout}">
    You have been logged out.</div>
<form th:action="@{/login}" method="post">
    <div>
    <input type="text" name="username" placeholder="Username"/>
    </div>
    <div>
    <input type="password" name="password" placeholder="Password"/>
    </div>
    <input type="submit" value="Log in" />
</form>
        <div class="signup-link">
            <p>Don't have an account? <a th:href="@{/signup}">Sign Up</a></p>
            <p>Don't remember your password? Forgot Password</p>
        </div>
    </div>
</body>
</html>
