<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>signup</title>
    <link rel="stylesheet" type="text/css"
          href="/css/signup.css"
          th:href="@{/css/signup.css}"  />
</head>
<body>
<div id="nav-ctr">
    <nav class="top-nav">
        <a class="nav-link">Book</a>
        <a class="nav-link" th:href="@{/}">Home</a>
        <a class="nav-link" th:href="@{/login}">Login</a>
        <a class="nav-link">About</a>

    </nav>
</div>
  <div class="page-ctr">
    <div>
      <h2>Customer Registration - Sign Up</h2>
    </div>
    <form th:action="@{/process_register}" th:object="${user}"
    method="post" style="max-width: 600px; margin: 0 auto;">
    <div class="container">
      <div class="form-group row">
          <label class="col-4 col-form-label">E-mail: </label>
          <div class="col-8">
              <input type="email" th:field="*{email}" class="form-control" required />
          </div>
      </div>
       
      <div class="form-group row">
          <label class="col-4 col-form-label">Password: </label>
          <div class="col-8">
              <input type="password" th:field="*{password}" class="form-control"
                      required minlength="6" maxlength="20"/>
          </div>
      </div>
       
      <div class="form-group row">
          <label class="col-4 col-form-label">First Name: </label>
          <div class="col-8">
              <input type="text" th:field="*{firstName}" class="form-control"
                      required minlength="2" maxlength="20"/>
          </div>
      </div>
       
      <div class="form-group row">
          <label class="col-4 col-form-label">Last Name: </label>
          <div class="col-8">
              <input type="text" th:field="*{lastName}" class="form-control"
                      required minlength="2" maxlength="20" />
          </div>
      </div>

      <div class="form-group row">
        <label class="col-4 col-form-label">Home Address (Optional): </label>
        <div class="col-8">
            <input type="text" th:field="*{address.streetAddress}" class="form-control"
                     minlength="2" maxlength="255" />
        </div>
      </div>

      <div class="form-group row">
        <label class="col-4 col-form-label">Apartment/Suite Number (Optional): </label>
        <div class="col-8">
            <input type="text" th:field="*{address.apartmentNumber}" class="form-control"
                     minlength="2" maxlength="255" />
        </div>
      </div>

      <div class="form-group row">
        <label class="col-4 col-form-label">City (Optional): </label>
        <div class="col-8">
            <input type="text" th:field="*{address.cityName}" class="form-control"
                   minlength="2" maxlength="255" />
        </div>
      </div>

      <div class="form-group row">
        <label class="col-4 col-form-label">State Code (Optional): </label>
        <div class="col-8">
            <select class="drop" th:field="*{address.stateCode}">
              <option th:each="code : ${T(com.spring.project.users.userinfo.StateCode).values()}"
                      th:value="${code}"
                      th:text="${code}">
              </option>
          </select>
        </div>
      </div>

      <div class="form-group row">
        <label class="col-4 col-form-label">Zip Code (Optional): </label>
        <div class="col-8">
            <input type="number" th:field="*{address.zipCode}" class="form-control"
                     minlength="2" maxlength="5" />
        </div>
      </div>

      <div class="form-group row">
        <label class="col-4 col-form-label">Card Number 1 (Optional): </label>
        <div class="col-8">
            <input type="text" name="cn1" class="form-control"
                     minlength="12" maxlength="16" />
        </div>
      </div>

      <div class="form-group row">
        <label class="col-4 col-form-label">Name on Card 1 (Optional): </label>
        <div class="col-8">
            <input type="text" name="cna1" class="form-control"/>
        </div>
      </div>

      <div class="form-group row">
        <label class="col-4 col-form-label">Expiration Date 1 (Optional): </label>
        <div class="col-8">
            <input type="date" name="ex1" class="form-control" maxlength="5" />
        </div>
      </div>

      <div class="form-group row">
        <label class="col-4 col-form-label">Security Code 1 (Optional): </label>
        <div class="col-8">
            <input type="text" name="cv1" class="form-control"
                     minlength="2" maxlength="3" />
        </div>
      </div>

        <div class="form-group row">
            <label class="col-4 col-form-label">Billing Address Street</label>
            <div class="col-8">
                <input type="text" name="billingAddrStreet1" class="form-control" />
            </div>
        </div>

        <div class="form-group row">
            <label class="col-4 col-form-label">Billing Address State</label>
            <div class="col-8">
                <input type="text" name="billingAddrState1" class="form-control" />
            </div>
        </div>

        <div class="form-group row">
            <label class="col-4 col-form-label">Billing Address Zip</label>
            <div class="col-8">
                <input type="text" name="billingAddrZip1" class="form-control" />
            </div>
        </div>

      <div class="form-group row">
        <label class="col-4 col-form-label">Card Number 2 (Optional): </label>
        <div class="col-8">
            <input type="text" name="cn2" class="form-control"
                     minlength="12" maxlength="16" />
        </div>
      </div>

      <div class="form-group row">
        <label class="col-4 col-form-label">Name on Card 2 (Optional): </label>
        <div class="col-8">
            <input type="text" name="cna2" class="form-control"/>
        </div>
      </div>

      <div class="form-group row">
        <label class="col-4 col-form-label">Expiration Date 2 (Optional): </label>
        <div class="col-8">
            <input type="date" name="ex2" class="form-control" maxlength="5" />
        </div>
      </div>

      <div class="form-group row">
        <label class="col-4 col-form-label">Security Code 2 (Optional): </label>
        <div class="col-8">
            <input type="text" name="cv2" class="form-control"
                     minlength="2" maxlength="3" />
        </div>
      </div>

        <div class="form-group row">
            <label class="col-4 col-form-label">Billing Address Street</label>
            <div class="col-8">
                <input type="text" name="billingAddrStreet2" class="form-control" />
            </div>
        </div>

        <div class="form-group row">
            <label class="col-4 col-form-label">Billing Address State</label>
            <div class="col-8">
                <input type="text" name="billingAddrState2" class="form-control" />
            </div>
        </div>

        <div class="form-group row">
            <label class="col-4 col-form-label">Billing Address Zip</label>
            <div class="col-8">
                <input type="text" name="billingAddrZip2" class="form-control" />
            </div>
        </div>
      
      <div class="form-group row">
        <label class="col-4 col-form-label">Card Number 3 (Optional): </label>
        <div class="col-8">
            <input type="text" name="cn3" class="form-control"
                     minlength="12" maxlength="16" />
        </div>
      </div>

      <div class="form-group row">
        <label class="col-4 col-form-label">Name on Card 3 (Optional): </label>
        <div class="col-8">
            <input type="text" name="cna3" class="form-control"/>
        </div>
      </div>

      <div class="form-group row">
        <label class="col-4 col-form-label">Expiration Date 3 (Optional): </label>
        <div class="col-8">
            <input type="date" name="ex3" class="form-control" maxlength="5" />
        </div>
      </div>

      <div class="form-group row">
        <label class="col-4 col-form-label">Security Code 3 (Optional): </label>
        <div class="col-8">
            <input type="text" name="cv3" class="form-control"
                     minlength="2" maxlength="3" />
        </div>
      </div>

        <div class="form-group row">
            <label class="col-4 col-form-label">Billing Address Street</label>
            <div class="col-8">
                <input type="text" name="billingAddrStreet3" class="form-control" />
            </div>
        </div>

        <div class="form-group row">
            <label class="col-4 col-form-label">Billing Address State</label>
            <div class="col-8">
                <input type="text" name="billingAddrState3" class="form-control" />
            </div>
        </div>

        <div class="form-group row">
            <label class="col-4 col-form-label">Billing Address Zip</label>
            <div class="col-8">
                <input type="text" name="billingAddrZip3" class="form-control" />
            </div>
        </div>

      <div>
        <input type="checkbox" th:field="*{subscription}" id="agreeCheckbox" name="agreeCheckbox">
        <label for="agreeCheckBox">subscribe to promotions</label>
      </div>
            
      <div>
        <button type="submit" class="btn btn-primary">Sign Up</button>
      </div>

    </div>
      </form>
    </div>
  </div>
</body>
</html>

