body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #fcffff
}

.top-nav {
    display: flex;
    background-color: #170f11;
    height: 30px;
    color: #cccccc;
    overflow: hidden;
    justify-content: space-evenly;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding-bottom: 5px;
    font-size: 18px;
}

.top-nav a:hover {
    color: #a59c9f;
}

.nav-link {
    margin-top: 8px;
}

.search-ctr {
    margin-top: 8px;
    font-size: 12px;
}

#search-label {
    margin-right: 8px;
}

#search-box {
    width: 250px;
}

#arch-img {
    height: 35px;
    margin-top: 0px;
}

#movie-overview {
    display: grid;
    justify-content: center;
    margin-top: 15px;
}

.movie-ctr {
    display: grid;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    padding: 15px;
    border-radius: 5px;
}

.movie-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 5px;
    margin: auto;
}