body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.container {
    background-color:#fd0202;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 400px;
}
h2 {
    background-color: #fd0202;
    text-align: center;
    margin-bottom: 20px;
}
input[type="email"],
input[type="tel"],
input[type="text"],
input[type="address"],
input[type="password"],
input[type="submit"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
input[type="submit"] {
    background-color: #fd0202;
    color: #fff;
    cursor: pointer;
}
input[type="submit"]:hover {
    background-color: #fd0202;
}
.signup-link {
    text-align: center;
}
.signup-link a {
    color: #fff;
    text-decoration: none;
}

.creditcard-button-container {
    display: flex;
    align-items: center;
}
.creditcard-button-container button {
    width: 25%;
    height: 100%;
    padding: 10px;
    margin-bottom: 15px;
    background-color: #fd0202;
    color: #fff;
    border: 1px;
    border-radius: 4px;
    cursor: pointer;
}

.creditcard-button-container button:hover {
    background-color: #d6d6d6;
}